.carousel {
  width: 100% !important;
  height: 100% !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .carousel-inner,
.carousel .carousel-item {
  width: 100% !important;
  height: 100% !important;
}

.carousel-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-card {
  border: none !important;

  padding: 0 0 1rem 0 !important;
  border-top-left-radius: 50% !important;
  border-top-right-radius: 50% !important;
  background-color: rgba(255, 244, 248, 0.4) !important;
}

.carousel-card-body {
  padding: 1rem 1.5rem;

  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: rgba(255, 248, 252, 0.8);
}

.carousel-card-text .text-muted {
  color: #b5b5b5 !important;
}

.carousel-card-text .discounted {
  font-weight: 500;
  color: #ffc10785 !important;
}

.discount-badge {
  color: #d34a76;
  background-color: #ffe0eb;

  padding: 0 5px;
  font-size: 0.85rem;
  border-radius: 0.5rem;
}

.carousel-card-order {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  background-color: #ffc107 !important;

  transition: all 0.4s ease;
}

.carousel-card-order .icon {
  color: #212529;
  width: fit-content;
  height: fit-content;

  transition: color 0.3s ease;
}

.carousel-card-order:hover {
  opacity: 0.8;
}

.carousel-card-order:hover .icon {
  color: white;
}

.carousel .carousel-item img {
  max-height: 100% !important;
  max-width: 100% !important;

  object-fit: contain;
}

.carousel .carousel-inner,
.carousel .carousel-item {
  width: 100% !important;
  height: 100% !important;
}

.carousel .carousel-item {
  position: relative;

  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e6bfc4' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.carousel-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.order-label {
  left: 150%;
  bottom: 90%;
  position: absolute;

  pointer-events: none;
  transform: translateX(-50%);
}

.label-text {
  color: #212529;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 0.75rem;
  white-space: nowrap;
  border-radius: 10px;

  background-color: #ffc107;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  transition: all 0.3s ease;
  background-color: #fef2f4;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23eec2d1' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 0-.708 0L4.5 8l6.146 6.354a.5.5 0 0 0 .708-.708L5.707 8l5.647-5.646a.5.5 0 0 0 0-.708z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23eec2d1' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0L11.5 8l-6.146 6.354a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  transform: scale(1.2);
  background-color: #eec2d1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  transition: all 0.3s ease;
}
