@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.carousel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-wrapper {
  width: 100vw;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-wrapper .carousel-slide {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0.25;
  background: linear-gradient(to bottom right, #b86963, #fce8e9);
}

.carousel-indicators {
  display: none !important;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
  transition: all 0.3s ease;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  width: 45px;
  height: 45px;

  transform: scale(1.05);
  backdrop-filter: blur(5px);
  background-color: rgba(178, 110, 156, 0.252);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
